.local-container {
    width: auto;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}

.local-container img {
    border-radius: 4px 4px 0 0;
}

.local-container h2 {
    font-size: 2rem;
    margin: 20px;
    grid-column: 1/-1;
    margin-bottom: 60px;
}

.local-container {
    border-radius: 4px 4px 0 0;
}

.local-item {
    border-radius: 4px;
    background-color: var(--cor-0);
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
    margin: auto;
    max-width: 600px;
}

.local-conteudo {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 32px 16px;
    padding: 32px;
}

.local-conteudo h3,
.local-tempo {
    grid-column: 1/-1;
}

.local-dados {
    display: grid;
    gap: 8px;
    border-left: 2px solid var(--cor-3);
    padding-left: 12px;
}

.local-tempo {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 780px) {
    .local-container {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .local h2 {
        margin-bottom: 32px;
    }

    .local-conteudo {
        grid-template-columns: 1fr;
    }
}